.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-container h1 {
  font-size: 24px;
  margin-bottom: 40px;
}

.profile-container h2 {
  font-size: 20px;
  margin-bottom: 25px; /* Espaçamento maior entre o título e o subtítulo */
}

.profile-container p {
  margin-bottom: 30px; /* Espaçamento maior entre os itens */
}

.profile-container strong {
  font-weight: bold;
}
