<div class="profile-page">
  <div class="profile-info">
    <div class="user-details">
      <h2>{{ this.userData.firstName }}</h2>
      <p>{{ this.userData.email }}</p>
      <p>{{ this.userData.phoneNumber }}</p>
      <p>{{ this.userData.address }}</p>
    </div>
  </div>
  <div class="timeline">
    <div class="timeline-item" *ngFor="let item of timelineItems">
      <div class="timeline-date">{{ item.date }}</div>
      <div class="timeline-content">{{ item.content }}</div>
    </div>
  </div>
</div>