<br><br>
<div class="profile-container">
  <h1>{{ this.userData.firstName }} {{ this.userData.lastName }}</h1>
  <p><strong>Email:</strong> {{ this.userData.email }}</p>
  <p><strong>Phone:</strong> {{ this.userData.phoneNumber }}</p>
  <p><strong>Address:</strong> {{ this.userData.address }}</p>
  <p><strong>Website:</strong> {{ this.userData.webSite }}</p>
  <p><strong>Profile:</strong> {{ this.userData.profile }}</p>
  <p><strong>Education:</strong> {{ this.userData.address }}</p>
  <p><strong>Employment History:</strong> {{ this.userData.employmentHistory }}</p>
  <p><strong>Languages:</strong> {{ this.userData.languages }}</p>
  <p><strong>Certifications:</strong> {{ this.userData.certifications }}</p>
</div>